/*
@media (max-width:479px)
{
    .hero-bg
    {
        background-image: url('image/bg.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        padding-top: 20px;
        background-repeat: no-repeat;
        position: relative;
    }
}
*/

/*
@media (min-width:480px) and (max-width:1199px)
{
*/
    .hero-bg
    {
        background-image: url('image/bg.jpg');
        background-size: cover;
        background-position: center;
        height: 650px;
        padding-top: 20px;
        background-repeat: no-repeat;
        position: relative;
    }
/*}*/


/*
@media (min-width:1200px)
{
    .hero-bg
    {
        background-image: url('image/bg.jpg');
        background-size: cover;
        background-position: center;
        height: 650px;
        padding-top: 20px;
        background-repeat: no-repeat;
        position: relative;
    }
}
*/

.vcenter
{
    transform: translateY(50%);
}

.hero-image img
{
    width: 290px;
}

.btn-send
{
    z-index: 2;
    position: relative;
    width: 94px;
    height: 94px;
    background-size: 50%;
    background: #FF3626;
    background-image: url(image/ico_send.svg),
                        linear-gradient(-180deg, #FE2400 0%, #C20E00 100%);
    background-repeat: no-repeat;
    background-position: 45%;
    border-radius: 100px;
    box-shadow: 17px 0px 14px 0px rgba(0,0,0,0.36);
}

.btn.active
{
    background-image: #FF3626;
}

/*-----------------------CAROUSEL-----------------------*/

.carousel-control.left,.carousel-control.right
{
    background: none;
    width: 25px;
    vertical-align: middle;
}

.carousel-control.left
{
    left: -25px;
}

.carousel-control.right
{
    right: -25px;
}

.block-text
{
    background-color: white;
    color: #626262;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.block-text p
{
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite
{
    background-image: url('image/triangle.svg');
    height: 27px;
    width: 39px;
}

.block-text ins
{
    bottom: -20px;
    left: 20%;
    margin-left: -60px;
}

.block
{
    display: block;
}

.zmin
{
    z-index: 1;
}

.ab
{
    position: absolute;
}

.person
{
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}

.person img
{
    width: 100%;
}

.rel
{
    position: relative;
}

.shevron
{
    width: 75%;
    transform: translateY(175px);
}

.counter
{
    position: relative;
    text-align:center;
    margin-top: -50px;
    max-width: 252px;
    width: 80%;
    -moz-filter: drop-shadow(0px 5px 3px RGBA(49, 0, 0, .5));
    -webkit-filter: drop-shadow(0px 5px 3px RGBA(49, 0, 0, .5));
    -o-filter: drop-shadow(0px 5px 3px RGBA(49, 0, 0, .5));
    -ms-filter: drop-shadow(0px 5px 3px RGBA(49, 0, 0, .5));
    filter: drop-shadow(0px 5px 3px RGBA(49, 0, 0, .5));
}

.counter-span
{
    position:absolute;
    top: 41px;
    left: 27px;
    font-family: 'Open Sans';
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.58;
    color: white;
}

.indent
{
    padding-right: 20px;
}

.background-image-holder
{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.content-text
{
    margin: 10% auto;
    align-content: center;
}

.content-image
{
    width: 100%;
    height: auto;
}

.content-block-nopad
{
    margin-top: 30px;
}

.carousel-reviews
{
    background-color: RGB(245, 245, 245);
    padding: 30px 0px;
}

.content-3
{
    padding: 50px 0px;
    background-image: url(image/winners.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: RGB(245, 245, 245);
}

.ico-store
{
/*    display: block;*/
    margin-bottom: 5px;
}

.ico-store img
{
    width: 100px;
}

.footer-wrap-1
{
    padding: 80px 0px;
    width: 100%;
    background-color: dodgerblue;
}

.justified
{
    position: absolute;
    left: 50%;
}

/*--------------------------------------Social--------------------------------------*/

.social
{
    margin: 0;
    padding: 0;
}

.social ul
{
    margin: 0;
    padding: 5px;
}

.social ul li
{
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i
{
    width: 40px;
    height: 40px;
    color: dodgerblue;
    background-color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover
{
    color: #FFF;
    background-color: dodgerblue;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.zmax
{
    z-index: 2;
}

.navbar-inner-about
{
    position: relative;
    background-color: dodgerblue;
}


.footer-wrap-2
{
    padding: 20px;
    width: 100%;
    background-color: dodgerblue;
}

/*
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
*/

.freelotto
{
    position: relative;
    max-width: 500px;
    width: 65%;
    z-index: 2;
    -moz-filter: drop-shadow(0px 19px 10px RGBA(49, 0, 0, .5));
    -webkit-filter: drop-shadow(0px 19px 10px RGBA(49, 0, 0, .5));
    -o-filter: drop-shadow(0px 19px 10px RGBA(49, 0, 0, .5));
    -ms-filter: drop-shadow(0px 19px 10px RGBA(49, 0, 0, .5));
    filter: drop-shadow(0px 19px 10px RGBA(49, 0, 0, .5));
/*
    animation-name: pulse;
    animation-duration: 3s;
    -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); 
    animation-delay: 4s;
    animation-direction: alternate;
    animation-iteration-count: 2;
*/
}

.magician
{
    z-index: 1;
    position: relative;
    max-width: 340px;
    width: 100%;
    margin-top: -18%;
    -moz-filter: drop-shadow(0px 10px 10px RGBA(49, 0, 0, .5));
    -webkit-filter: drop-shadow(0px 10px 10px RGBA(49, 0, 0, .5));
    -o-filter: drop-shadow(0px 10px 10px RGBA(49, 0, 0, .5));
    -ms-filter: drop-shadow(0px 10px 10px RGBA(49, 0, 0, .5));
    filter: drop-shadow(0px 10px 10px RGBA(49, 0, 0, .5));
}

.slogan
{
    position: relative;
    max-width: 785px;
    width: 100%;
    margin-top: -6%;
}

.winers-text
{
    max-width: 292px;
    margin-top: 20px;
}


.store {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 10px;
}

.store img {
    width: 100%;
}
