

@media (max-width:767px)
{
    .cta-btn
    {
        right: 50%;
        top: 70px;
    }
}

@media (min-width:768px)
{
    .cta-btn
    {
        left: 531px;
        top: -52px;
    }
}

@media (min-width:992px)
{
    .cta-btn
    {
        left: 599px;
        top: -52px;
    }
}

@media (min-width:1200px)
{
    .cta-btn
    {
        left: 499px;
        top: -14px;
    }
}

.navbar-default
{
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-brand
{
    height: 100px;
}

.navbar-brand img
{
    height: inherit;
}

.navbar
{
    position: absolute;
    width: 100%;
    min-height: 100px;
    border: none;
}

.navbar-default .navbar-nav > li > a
{
    color: rgba(255, 255, 255, .7);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: rgba(255, 255, 255, .7);
}

.navbar-default .navbar-toggle
{
    border-color: rgba(255, 255, 255, .7);
}

.hero-bg
{
    background-image: url(image/win-hero-blure.jpeg);
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 150px;
}

.hero-text-white
{
    color: white;
}

.vcenter
{
    transform: translateY(50%);
}

.hero-image img
{
    width: 290px;
}

.cta-btn
{
    z-index: 1;
    position: absolute;
    width: 94px;
    height: 94px;
    background: #FF3626;
    border-radius: 100px;
    background-image: linear-gradient(-180deg, #FE2400 0%, #C20E00 100%);
    box-shadow: 17px 0px 14px 0px rgba(0,0,0,0.36);
}

.btn-send {
    z-index: 2;
    position: relative;
    width: 94px;
    height: 94px;
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: 50%;
    background: #FF3626;
    background-image:   url(image/ico_send.svg),
                        linear-gradient(-180deg, #FE2400 0%, #C20E00 100%);
    background-repeat: no-repeat;
    background-position: 45%;
    border-radius: 100px;
    box-shadow: 17px 0px 14px 0px rgba(0,0,0,0.36);
}

.btn.active
{
    background-image: #FF3626;
}

/*-----------------------CAROUSEL-----------------------*/

.carousel-control.left,.carousel-control.right
{
    background: none;
    width: 25px;
    vertical-align: middle;
}

.carousel-control.left
{
    left: -25px;
}

.carousel-control.right
{
    right: -25px;
}

.block-text
{
    background-color: white;
    color: #626262;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.block-text p
{
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite
{
    background-image: url('image/triangle.svg');
    height: 27px;
    width: 39px;
}

.block-text ins
{
    bottom: -20px;
    left: 20%;
    margin-left: -60px;
}

.block
{
    display: block;
}

.zmin
{
    z-index: 1;
}

.ab
{
    position: absolute;
}

.person
{
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}

.person img
{
    width: 100%;
}

.rel
{
    position: relative;
}

.shevron
{
    width: 75%;
    transform: translateY(175px);
}

.counter {
    text-align: center;
    width: 300px;
    height: 78px;
    padding-top: 6px;
    border-radius: 9px;
    background-image: -webkit-linear-gradient(270deg, rgb(255, 172, 0) 0%, rgb(255, 126, 0) 100%);
    background-image:    -moz-linear-gradient(270deg, rgb(255, 172, 0) 0%, rgb(255, 126, 0) 100%);
    background-image:      -o-linear-gradient(270deg, rgb(255, 172, 0) 0%, rgb(255, 126, 0) 100%);
    background-image:     -ms-linear-gradient(270deg, rgb(255, 172, 0) 0%, rgb(255, 126, 0) 100%);
    background-image:         linear-gradient(180deg, rgb(255, 172, 0) 0%, rgb(255, 126, 0) 100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
}

.counter span
{
    font-family: 'Open Sans';
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.58;
    color: white;
}

.indent
{
    padding-right: 20px;
}

.background-image-holder
{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.content-text
{
    margin: 10% auto;
    align-content: center;
}

.content-image
{
    width: 100%;
    height: auto;
}

.content-block-nopad
{
    margin-top: 30px;
}

.carousel-reviews
{
    background-color: RGB(245, 245, 245);
    padding: 30px 0px;
}

.overlay
{
}

.content-3
{
    height: 300px;
    width: 100%;
    background-image: url(image/winners.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: RGB(245, 245, 245);
}

.footer-wrap-1
{
    padding-top: 60px;
    height: 300px;
    width: 100%;
    background-color: dodgerblue;
}



.justified {
    position:absolute;
    left:50%;
}
